<%- include("../../includes/head") %> <%- include("../../includes/nav") %>

<div class="container my-5">
  <div class="card">
    <div class="card-header">
      <h3>Edit user: <%= user.firstName %></h3>
    </div>
    <div class="card-body">
      <form
        method="POST"
        action="/admin/users/edit/<%= user.id %>/update"
        class="form"
      >
        <div class="mb-3">
          <input type="hidden" name="id" value="<%= user.id %>" />

          <label for="firstName">First Name</label>
          <input
            name="firstName"
            id="firstName"
            type="text"
            value="<%= user.firstName %>"
            class="form-control"
          />
          <label for="lastName">Last Name</label>
          <input
            name="lastName"
            id="lastName"
            type="text"
            value="<%= user.lastName %>"
            class="form-control"
          />
          <label for="email">Email</label>
          <input
            name="email"
            id="email"
            type="email"
            value="<%= user.email %>"
            class="form-control"
          />
          <label for="password">Password</label>
          <input
            name="password"
            id="password"
            type="password"
            placeholder="Type your new password"
            class="form-control"
          />
        </div>

        <button class="col-12 btn-lg btn btn-success">Update</button>
      </form>
    </div>
  </div>
</div>

<%- include("../../includes/footer") %>
