<%- include("./includes/head") %> <%- include("./includes/homeNav") %>
<div class="container my-5">
  <div class="jumbotron">
    <h1 class="display-4">
      Showing articles from category: <%= category.title %>
    </h1>
  </div>

  <div class="row">
    <% if (articles.length == 0) { %>
    <div class="col-8 mx-auto">
      <h1 class="display-6 text-center">
        No articles added so far in this category :(
      </h1>
    </div>

    <% } else { %> <% articles.forEach((article) => { %>
    <div class="card col-lg-4 col-md-6 col-sm-12 cssBox">
      <div class="card-header">
        <h4 class="card-title"><%= article.title %></h4>
      </div>
      <div class="card-body">
        <a href="/article/<%= article.slug %>" class="btn btn-success"
          >Read article</a
        >
      </div>
    </div>
    <% }) %> <% } %>
  </div>
</div>
<%- include("./includes/footer") %>
